/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main sections */
body {
    max-width: 512px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
header{
    height: 268px;
    background-image: url(../img/banner.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-size: contain;
}
/* main box */
.box {
    margin: 60px auto;
    width: 95%;
    border-radius: 20px;
    background-color: rgba(91, 92, 202, 0);
    text-align: center;
    
}
.box-bgpurple {
    background-color: rgba(124, 116, 247, 0.781);
    text-align: left;
    padding-bottom: 60px;
}
/* style content */
.card-title, .card-text {
    color: white;
    padding: 15px 30px;
}
.box .card-title {
    padding-top: 0;
    font-size: 40px;
    font-family: "sigmar", sans-serif;
    line-height: 1;
}
.box .card-text {
    font-size: 19px;
    font-family: "DM Sans", sans-serif;
    line-height: 1.2;
}
/* Buttons */
.butt {
    display: block;
    margin: 15px auto;
    width: 90%;
    border: 0 none transparent;
    border-radius: 20px;
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}
.download {
    color: black;
}
.browser {
    background-color: rgb(49, 49, 248);
    color: white;
}
.bi {
    padding: 5px;
}
/* link actions */
a {
    text-decoration: none;
}
/* card video */
.card-video {
    display: block;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    border-radius: 30px;
}
/* Cube e Eyes da muovere */
.cube {
    height: 100px;
    position: relative;
    top: -50px;
    left: 50px;
}
.eyes {
    height: 150px;
    position: relative;
    top: -80px;
    left: 50%;
    translate: -50%;
}